@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.container {
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;


    @include breakpoint(tablet) {
        padding-left: 30px;
        padding-right: 30px;
    }

    @include breakpoint(desktop) {
        padding-left: 165px;
        padding-right: 165px;
    }
}