@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.contact {
    background-color: $gris-oscuro;
    padding-top: 60px;
    

   .container-contact {
      @include breakpoint(desktop){
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 92px;
        border-bottom: 2px solid $blanco;
     }
   }
    
    
    .title-contact {
        @include breakpoint(desktop){
        width: 445px;
        height: 208px;

    }
        
    }
    

    h2 {
        font-size: 40px;
        font-weight: 700;
        text-align: center;
        margin: 0;
        margin-bottom: 20px;

         @include breakpoint(tablet) {
        padding-left: 130px;
        padding-right: 130px;
        font-size: 72px;
    }

        @include breakpoint(desktop) {
            font-size: 88px;
            padding: 0;
            max-width: 50%;
            margin: 0;
            margin-bottom: 36px;
        }
        
    }

    p {
        font-size: 16px;
        font-weight: 500;
        color: $gris;
        text-align: center;
        margin: 0;
        margin-bottom: 50px;

         @include breakpoint(tablet) {
        padding-left: 130px;
        padding-right: 130px;
        font-size: 18px;
    }

        @include breakpoint(desktop) {
            padding: 0;
            margin: 0;
            text-align: start;
        }
    }

    form {
        color: $gris;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        border-bottom: 2px solid $blanco;
        padding-bottom: 87px;

         @include breakpoint(tablet) {
        padding-left: 130px;
        padding-right: 130px;
        padding-bottom: 92px;
    }

        @include breakpoint(desktop) {
            width: 445px;
            height: 400px;
            padding: 0;
            border-bottom: none;
            
        }

        label {
            margin: 20px 0 5px;
            padding-left: 25px;
        }

        input, textarea {
            background: none;
            border: none;
            border-bottom: 1px solid #aaa;
            padding: 5px 0;
            margin-bottom: 32px;

            &:focus-visible {
                border: none;
            }


        }

        textarea {
            @include breakpoint(desktop){
                margin-top: 80px;
            }
        }

        button {
            background: none;
            border: none;
            text-align: end;
        }
    }
}