// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

footer {
    padding-top: 40px;
    padding-bottom: 60px;
    background-color: $gris-oscuro;
    text-align: center;

    @include breakpoint(tablet) {
        padding: 0;
    }

    .container {
    @include breakpoint(tablet) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 30px;
        padding-bottom: 40px;

    }
    }


    a{  
        width: 139px;
        height: 32px;

        .logo {
        width: 139px;
        height: 32px;

        @include breakpoint(tablet) {
            width: 172px;
        }
    }
    }

    .social-media-footer {
        display: flex;
        gap: 25px;
        justify-content: center;

        a{
            width: 20px;
            height: 20px;

            @include breakpoint(tablet){
                    width: 25px;
                    height: 25px;

                }

            img {

                @include breakpoint(tablet){
                    width: 25px;
                    height: 25px;

                    
                }
            }
        }
    }
}